.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #ffffff;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #444444 !important;
}
.bg-success {
  background-color: #198754 !important;
}
.bg-info {
  background-color: #0d40f4 !important;
}
.bg-warning {
  background-color: #ffc107 !important;
}
.bg-danger {
  background-color: #dc3545 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #5e5e5e !important;
  border-color: #5e5e5e !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #5e5e5e !important;
  border-color: #5e5e5e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d6d6d6 !important;
  border-color: #d6d6d6 !important;
  color: #575757 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #f0f0f0 !important;
  border-color: #f0f0f0 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #575757 !important;
  background-color: #f0f0f0 !important;
  border-color: #f0f0f0 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0d40f4 !important;
  border-color: #0d40f4 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #3e67f6 !important;
  border-color: #3e67f6 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3e67f6 !important;
  border-color: #3e67f6 !important;
}
.btn-success,
.btn-success:active {
  background-color: #198754 !important;
  border-color: #198754 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #21b26f !important;
  border-color: #21b26f !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #21b26f !important;
  border-color: #21b26f !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffce3a !important;
  border-color: #ffce3a !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffce3a !important;
  border-color: #ffce3a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e4606d !important;
  border-color: #e4606d !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e4606d !important;
  border-color: #e4606d !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #444444;
  color: #444444;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #191919 !important;
  background-color: transparent !important;
  border-color: #191919 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #d6d6d6;
  color: #d6d6d6;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ababab !important;
  background-color: transparent !important;
  border-color: #ababab !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #575757 !important;
  background-color: #d6d6d6 !important;
  border-color: #d6d6d6 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0d40f4;
  color: #0d40f4;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #072aa3 !important;
  background-color: transparent !important;
  border-color: #072aa3 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0d40f4 !important;
  border-color: #0d40f4 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #198754;
  color: #198754;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0b3e26 !important;
  background-color: transparent !important;
  border-color: #0b3e26 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #198754 !important;
  border-color: #198754 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffc107;
  color: #ffc107;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #af8300 !important;
  background-color: transparent !important;
  border-color: #af8300 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #dc3545;
  color: #dc3545;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #9f1c28 !important;
  background-color: transparent !important;
  border-color: #9f1c28 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #444444 !important;
}
.text-secondary {
  color: #d6d6d6 !important;
}
.text-success {
  color: #198754 !important;
}
.text-info {
  color: #0d40f4 !important;
}
.text-warning {
  color: #ffc107 !important;
}
.text-danger {
  color: #dc3545 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #111111 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a3a3a3 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #09311e !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #072694 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a07800 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #921925 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #444444;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0d40f4;
}
.alert-warning {
  background-color: #ffc107;
}
.alert-danger {
  background-color: #dc3545;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #444444;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b7b7b7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #43dc95;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d0dafd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff4d3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fae3e5;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #444444 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #444444;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #444444;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #444444;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #444444;
  border-bottom-color: #444444;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #444444 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d6d6d6 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23444444' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-ub3JzYfuqx {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-ub3JzYfuqx .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-ub3JzYfuqx .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-ub3JzYfuqx .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ub3JzYfuqx .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-ub3JzYfuqx .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ub3JzYfuqx .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ub3JzYfuqx .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-ub3JzYfuqx .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
.cid-ub3JzYfuqx .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
}
.cid-ub3JzYfuqx .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-ub3JzYfuqx .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-ub3JzYfuqx .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-ub3JzYfuqx .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-ub3JzYfuqx .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-ub3JzYfuqx .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-ub3JzYfuqx .nav-link {
  width: fit-content;
  position: relative;
}
.cid-ub3JzYfuqx .navbar-logo {
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-ub3JzYfuqx .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-ub3JzYfuqx .navbar-caption {
  padding-left: 1rem;
  padding-right: .5rem;
}
@media (max-width: 767px) {
  .cid-ub3JzYfuqx .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-ub3JzYfuqx .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-ub3JzYfuqx .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-ub3JzYfuqx .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ub3JzYfuqx .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-ub3JzYfuqx .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ub3JzYfuqx .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: .3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-ub3JzYfuqx .nav-item:focus,
.cid-ub3JzYfuqx .nav-link:focus {
  outline: none;
}
.cid-ub3JzYfuqx .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ub3JzYfuqx .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ub3JzYfuqx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ub3JzYfuqx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ub3JzYfuqx .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ub3JzYfuqx .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ub3JzYfuqx .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-ub3JzYfuqx .navbar.opened {
  transition: all 0.3s;
}
.cid-ub3JzYfuqx .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ub3JzYfuqx .navbar .navbar-logo img {
  width: auto;
}
.cid-ub3JzYfuqx .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-ub3JzYfuqx .navbar.collapsed {
  justify-content: center;
}
.cid-ub3JzYfuqx .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ub3JzYfuqx .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-ub3JzYfuqx .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-ub3JzYfuqx .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ub3JzYfuqx .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ub3JzYfuqx .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ub3JzYfuqx .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ub3JzYfuqx .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ub3JzYfuqx .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-ub3JzYfuqx .navbar {
    min-height: 72px;
  }
  .cid-ub3JzYfuqx .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-ub3JzYfuqx .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ub3JzYfuqx .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ub3JzYfuqx .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ub3JzYfuqx .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ub3JzYfuqx .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ub3JzYfuqx .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ub3JzYfuqx .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-ub3JzYfuqx .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ub3JzYfuqx .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-ub3JzYfuqx .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-ub3JzYfuqx .dropdown-item.active,
.cid-ub3JzYfuqx .dropdown-item:active {
  background-color: transparent;
}
.cid-ub3JzYfuqx .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ub3JzYfuqx .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ub3JzYfuqx .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ub3JzYfuqx .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ub3JzYfuqx .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-ub3JzYfuqx .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-ub3JzYfuqx ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ub3JzYfuqx .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-ub3JzYfuqx .navbar-buttons {
    text-align: left;
  }
}
.cid-ub3JzYfuqx button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ub3JzYfuqx button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-ub3JzYfuqx button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ub3JzYfuqx button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ub3JzYfuqx button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ub3JzYfuqx button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ub3JzYfuqx nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ub3JzYfuqx nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ub3JzYfuqx nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ub3JzYfuqx nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ub3JzYfuqx .navbar-dropdown {
  padding: 0 1rem;
}
.cid-ub3JzYfuqx a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ub3JzYfuqx .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-ub3JzYfuqx .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ub3JzYfuqx .navbar {
    height: 70px;
  }
  .cid-ub3JzYfuqx .navbar.opened {
    height: auto;
  }
  .cid-ub3JzYfuqx .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-ub3JzYfuqx .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-ub3JzYfuqx .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-ub3JzYfuqx .navbar-brand {
    margin-right: auto;
  }
  .cid-ub3JzYfuqx .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-ub3JzYfuqx .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-ub3JzYfuqx .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-ub3JzYfuqx .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-ub3JzYfuqx .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-ub3JzYfuqx .navbar-collapse {
    padding: 1rem;
  }
}
.cid-ub3F64flpI {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #300849;
}
.cid-ub3F64flpI .mbr-fallback-image.disabled {
  display: none;
}
.cid-ub3F64flpI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.cid-ub3F64flpI .topbg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: #ffffff;
}
.cid-ub3F64flpI .mbr-section-title {
  color: #e49737;
}
.cid-ub3F64flpI .mbr-text,
.cid-ub3F64flpI .mbr-section-btn {
  color: #f92c50;
}
.cid-ub3F64flpI .content-head {
  max-width: 800px;
}
.cid-ub2B4N8yOW {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ub2B4N8yOW .mbr-fallback-image.disabled {
  display: none;
}
.cid-ub2B4N8yOW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ub2B4N8yOW .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
.cid-ub2B4N8yOW .text-wrapper {
  padding: 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-ub2B4N8yOW .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-ub2B4N8yOW .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-ub2B4N8yOW .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-ub2B4N8yOW .row {
  flex-direction: row-reverse;
}
.cid-ub2B4N8yOW .image-wrapper {
  padding: 0 1rem;
}
.cid-ub2B4N8yOW img,
.cid-ub2B4N8yOW .image-wrapper {
  height: 600px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-ub2B4N8yOW img,
  .cid-ub2B4N8yOW .image-wrapper {
    max-height: 350px;
  }
}
.cid-ub2B4N8yOW .mbr-section-title {
  color: #000000;
}
.cid-ub2B4N8yOW .mbr-text {
  color: #000000;
}
.cid-ub3IjlrtRU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3IjlrtRU .mbr-text {
  color: #000000;
}
.cid-ub3IjlrtRU .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3IjlrtRU .mbr-section-title {
  color: #000000;
}
.cid-ub2B4N9zKo {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-ub2B4N9zKo .mbr-fallback-image.disabled {
  display: none;
}
.cid-ub2B4N9zKo .item-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cid-ub2B4N9zKo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ub2B4N9zKo .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: #d70081;
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffd7ef;
  height: 80px;
  border-radius: 50%;
}
.cid-ub2B4N9zKo .card-title,
.cid-ub2B4N9zKo .iconfont-wrapper,
.cid-ub2B4N9zKo .card-text {
  color: #000000;
  text-align: center;
}
.cid-ub2B4N9zKo .content-head {
  max-width: 800px;
}
.cid-ub2B4N9zKo .mbr-section-title {
  color: #000000;
}
.cid-ub2B4N9zKo .mbr-section-btn {
  text-align: center;
}
.cid-ub2B4N9zKo .card-title,
.cid-ub2B4N9zKo .iconfont-wrapper {
  color: #444444;
}
.cid-ub2B4NbBNQ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-ub2B4NbBNQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-ub2B4NbBNQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-ub2B4NbBNQ .card-content-text {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}
@media (min-width: 768px) {
  .cid-ub2B4NbBNQ .card-content-text {
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-ub2B4NbBNQ .card-content-text {
    padding: 4rem 4rem 1rem 4rem;
  }
}
.cid-ub2B4NbBNQ .card-wrapper {
  background: #ffffff;
}
.cid-ub2B4NbBNQ .mbr-text,
.cid-ub2B4NbBNQ .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-ub2B4NbBNQ .card-title,
.cid-ub2B4NbBNQ .card-box {
  text-align: left;
  color: #000000;
}
.cid-ub2B4NbeZq {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: transparent;
}
.cid-ub2B4NbeZq .mbr-fallback-image.disabled {
  display: none;
}
.cid-ub2B4NbeZq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ub2B4NbeZq .mbr-text {
  color: #000000;
}
.cid-ub2B4NbeZq .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-ub2B4NbeZq .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ub2B4NbeZq .main-button {
    margin-bottom: 2rem;
  }
}
.cid-ub2B4NbeZq .mbr-section-subtitle,
.cid-ub2B4NbeZq .main-button {
  color: #000000;
}
.cid-ub3Pq4mnQO {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3Pq4mnQO .mbr-text {
  color: #000000;
}
.cid-ub3Pq4mnQO .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3Pq4mnQO .mbr-section-title {
  color: #000000;
}
#custom-html-6 {
  /* Type valid CSS here */
}
#custom-html-6 div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-6 p {
  font-size: 60px;
  color: #777;
}
.cid-ub3PqRQ7vX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3PqRQ7vX .mbr-text {
  color: #000000;
}
.cid-ub3PqRQ7vX .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3PqRQ7vX .mbr-section-title {
  color: #000000;
}
.cid-ub3QGemDth {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cid-ub3QGemDth .mbr-fallback-image.disabled {
  display: none;
}
.cid-ub3QGemDth .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-ub3QGemDth .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-ub3QGemDth .row {
  flex-direction: row-reverse;
}
.cid-ub3QGemDth .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-ub3QGemDth .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-ub3QGemDth .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-ub3QGemDth .mbr-section-title {
  color: #000000;
}
.cid-ub3QGemDth .mbr-text,
.cid-ub3QGemDth .mbr-section-btn {
  color: #000000;
}
#custom-html-8 {
  /* Type valid CSS here */
}
#custom-html-8 div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-8 p {
  font-size: 60px;
  color: #777;
}
.cid-ub3S4Rvw51 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3S4Rvw51 .mbr-text {
  color: #000000;
}
.cid-ub3S4Rvw51 .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3S4Rvw51 .mbr-section-title {
  color: #000000;
}
.cid-ub3UFZbhWw {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-ub3UFZbhWw .mbr-fallback-image.disabled {
  display: none;
}
.cid-ub3UFZbhWw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ub3UFZbhWw .mbr-section-title {
  color: #232323;
}
.cid-ub3Szcs59i {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3Szcs59i .mbr-text {
  color: #000000;
}
.cid-ub3Szcs59i .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3Szcs59i .mbr-section-title {
  color: #000000;
}
#custom-html-f {
  /* Type valid CSS here */
}
#custom-html-f div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-f p {
  font-size: 60px;
  color: #777;
}
.cid-ub3T9Q4EAa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3T9Q4EAa .mbr-text {
  color: #000000;
}
.cid-ub3T9Q4EAa .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3T9Q4EAa .mbr-section-title {
  color: #000000;
}
.cid-ub3TLZnnEJ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-ub3TLZnnEJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-ub3TLZnnEJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ub3TLZnnEJ .row {
  flex-direction: row-reverse;
}
.cid-ub3TayTSgE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3TayTSgE .mbr-text {
  color: #000000;
}
.cid-ub3TayTSgE .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3TayTSgE .mbr-section-title {
  color: #000000;
}
#custom-html-i {
  /* Type valid CSS here */
}
#custom-html-i div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-i p {
  font-size: 60px;
  color: #777;
}
.cid-ub3WfNKUjT {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3WfNKUjT .mbr-text {
  color: #000000;
}
.cid-ub3WfNKUjT .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3WfNKUjT .mbr-section-title {
  color: #000000;
}
.cid-ub3WuUjIuG {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ub3WuUjIuG .mbr-text {
  color: #000000;
}
.cid-ub3WuUjIuG .mbr-section-subtitle {
  color: #000000;
}
.cid-ub3WuUjIuG .mbr-section-title {
  color: #000000;
}
#custom-html-l {
  /* Type valid CSS here */
}
#custom-html-l div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-l p {
  font-size: 60px;
  color: #777;
}
.cid-ubprBtIwEh {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #766dd5;
}
.cid-ubprBtIwEh .mbr-fallback-image.disabled {
  display: none;
}
.cid-ubprBtIwEh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ubprBtIwEh .footer-col {
  justify-content: space-between;
  display: flex;
}
@media (max-width: 767px) {
  .cid-ubprBtIwEh .footer-col {
    flex-direction: column;
  }
}
.cid-ubprBtIwEh .row {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-ubprBtIwEh .row {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-ubprBtIwEh .mbr-section-btn {
    text-align: center;
  }
}
.cid-ubprBtIwEh .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-ubprBtIwEh .soc-item {
  margin: 8px;
}
.cid-ubprBtIwEh .soc-item a:hover .mbr-iconfont,
.cid-ubprBtIwEh .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-ubprBtIwEh .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 20px;
  background-color: #edefeb;
  color: #003291;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .cid-ubprBtIwEh .row {
    text-align: center;
  }
  .cid-ubprBtIwEh .social-row {
    justify-content: center;
  }
}
.cid-ubprBtIwEh .list {
  list-style: none;
  padding-left: 0;
  color: #502274;
}
@media (max-width: 991px) {
  .cid-ubprBtIwEh .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-ubprBtIwEh .list {
    margin-bottom: 0rem;
  }
}
.cid-ubprBtIwEh .mbr-text {
  color: #bbbbbb;
}
.cid-ubprBtIwEh .mbr-section-subtitle {
  color: #000000;
}
.cid-ubprBtIwEh .list,
.cid-ubprBtIwEh .item-wrap {
  color: #232323;
}
.cid-ubprBtIwEh .copyright {
  color: #000000;
}
